html,body {
    padding: 0;
    height: 100%;
    margin: 0px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 400px;
    max-width: 100%;
}

header {
    background-color: sandybrown;
    color: white;
    padding: 15px;
    display: flex;
    align-items: center;
    max-width: 100%;
    font-size: xx-large;
}


footer {
    background-color: grey;
    position: fixed;
    height: 2.7%;
    bottom: 0;
    padding: 10px;
    color: white;
    text-align: center;
}

body > section {
    flex-direction: row;
    min-height: 400px;
    margin-bottom: 2.7%;
}

.description {
    border: 5px solid black;
    padding: 20px;
    margin: 1em
}

section > main {
    flex-grow: 1;
    flex-basis: 100%;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    overflow-y: scroll;
    background-color: blanchedalmond;
    scrollbar-width: none;
    height: 100%;
}

aside {
    background-color: rgb(193, 223, 233);
    flex-grow: 1;
    flex-basis: 40%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    scrollbar-width: none;
    height: 100%;
}

article {
    background-color: rgb(202, 206, 218);
    padding: 10px;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.island {
    border-radius: 5px;
    background-color: #efefef;
    padding: 10px;
    margin: 1.5em;
    align-items: center;
    text-align: center;
    scrollbar-width: none;

}

header,
body > section,
footer,
main article {
    display: flex;
    justify-content: center;
    font-weight: bold;
    width: 100%;
}

.fishobjects{
    justify-content: center;
    display: flex;
    padding: 1em;
    margin-left: 10%;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 18px;
    width: 75%;
 }

 hr.dashed {
    border-top: 4px dashed #bbb;
  }

 img {
    width: 250px;
    height: auto;
    padding: 1em;
    
}

.about{
    background-image: url(https://www.tfhmagazine.com/-/media/Project/OneWeb/TFH/US/articles/575_net_only_fish_collection.jpg);
    background-size: cover;
    color: rgba(226, 222, 4, 0.893);
    padding: 20px;
    border: 5px solid black;
    margin: 1em;
}
h1 {
    font-size: x;
}